@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto+Slab&display=swap');

div {
  margin: auto;
  max-width: 800px;
  /* max-height: 600%; */
  /* display: grid; */
  /* grid-template-columns: 1f 1f; */
  word-wrap: normal;
}

header {
  color: white;
  background-color: rgb(38, 38, 98);
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

h2 {
  font-size: 1.2em;
  padding-top: 1rem;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  margin: 0.5rem 3rem 0 0;
  /* grid-column: 1/2;
  grid-row: 1/2; */
}

.bodyGrid {
  font-family: 'Open Sans', sans-serif;
}

footer {
  /* height: 80%; */
  color: white;
  background-color: rgb(38, 38, 98);
  border-radius: 5px;
  text-align: center;
  font-size: medium;
  padding-top: 1rem;
  /* margin-top: -2%; */
}

#datetime {
  /* margin-top: -1.5%; */
  /* grid-column: 1/3;
  grid-row: 3/4; */
  font-size: smaller;
  padding-bottom: 1rem;
}

.stewartPicture {
  float: right;
  border-radius: 5px;
  height: 200px;
  /* height: 350%;
  width: 20%;
  margin: -4% 2% 0% 0%;
  grid-column: 2/3; */
}

hr {
  margin-right: 22%;
}

.bodyGrid a {
  color: navy;
}

#locate a {
  color: white;
}


