body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: grey;
}

div {
  background-color: white;
}

.popular {
  margin-top: 0%;
  background-color: blue;
}

.personal {
  height: 355px;
  margin-left: 30%;
  margin-top: 8%;
  padding-top: 20%;
  grid-column: 1/2;
}

.business {
  height: 500px;
  margin-right: 15%;
  margin-left: 15%;
  grid-column: 2/3;
}

.enterprise {
  height: 300px;
  grid-column: 3/4;
  padding: 8%;
  margin-right: 30%;
  margin-top: 8%;
  padding-top: 20%;
}
