@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

.logoTitle {
  display: flex;
  justify-content: center;
}

.title {
  color: #F0A822;
  text-align: center; font-size: 2rem;
}

header {
  font-family: 'Lato', sans-serif;
}

/* navigation */
nav {
  background-color: #2E294E;
  padding-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 15px gray;
}

.direction  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li a {
  background: linear-gradient(90deg, transparent, #F0A822, transparent) bottom / var(--d, 0) 8px no-repeat;
  transition: 0.5s;
}

.navigation {
  list-style: none;
  padding: .75em;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  color: #F5F0E6;
  display: none;
}
.navigation a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: rgb(255,255,255);
  font-weight: 700;
  font-size: large;
  transition: 0.5s;
  padding-bottom: 10px;
}

.navigation a:hover {
  color: #F5F0E6;
  /* background-color: #F0A822; */
  border-radius: 5px;
  --d: 50%;
}

.responsive li {
  display: block;
}

.response-box {
    display: flex;
    justify-content: center;
    border: #2E294E solid 10px;
    background-color: #F0A822;
    color: #2E294E;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;
    margin: 3rem 15rem;
}




footer {
    text-align: center;
    background-color: #2E294E;
    color: #F5F0E6;
    padding: 1rem 0 1rem  0;
    border-radius: 10px;
  }