@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');

body {
  max-width: 300%;
  max-height: 300%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1,
h2 {
  font-family: 'Oxygen', sans-serif;
}

#indent {
  text-indent: 10%;
  line-height: normal;
  font-size: medium;
}

header {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 20%;
  margin-left: 20%;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  background-color: lightslategray;
  color: white;
  border-radius: 10px;
}

div {
  background-color: navy;
  margin: 6%;
  border-radius: 10px;
}

.first {
  grid-column: 1/2;
  grid-row: 2/3;
  /* margin-left: 20%; */
}
.second {
  grid-column: 2/3;
  grid-row: 2/3;
}

.third {
  grid-column: 3/4;
  grid-row: 2/3;
  /* margin-right: 20%; */
}

img {
  padding-bottom: 5%;
  padding-top: 5%;
  width: 80%;
}

footer {
  grid-column: 1/4;
  grid-row: 3/4;
  text-align: center;
  background-color: lightslategray;
  color: White;
}

a {
  color: white;
}
