@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

img {
    width: 40%;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 15rem 0 15rem;
}

ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: #5f5f5f;
    border-radius: 10px;
}

li {
    margin: 1rem;
    padding: .2rem;
    background-color: #F0A822;
    color: #F5F0E6;
    border-radius: 5px;
}

/* body {
    background-color: #F5F0E6;
}
header {
    height: 100px;
    background-color: #2E294E;
}

footer {
    height: 100px;
    background-color: #FCA708;
} */