.img {
    display: flex;
    justify-content: center;
}

img {
    position: static;
    width: 30%;
}

#dad-joke {
    position: relative;
    text-align: center;
    width: 20%;
    left: 28rem;
    top: 11rem;

}

button {
    position: relative;
    bottom: 12rem;
    left: 33rem;
}