@media only screen and (max-width: 785px) {
    

    .gallery {
        display: grid;
        justify-content: center;
        grid-template-areas: 
            'img1 img2' 
            'img3 img4' 
            'img5 img6'
            'img7 img8'
            'img9 img9'
        ;
        padding: 10px;
    }
}