@media only screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }

  header {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 20%;
    margin-left: 20%;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    background-color: lightslategray;
    color: white;
    border-radius: 10px;
  }

  .first {
    grid-column: 1/2;
    grid-row: 2/3;
    /* margin-left: 20%; */
  }
  .second {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .third {
    grid-column: 3/4;
    grid-row: 2/3;
    /* margin-right: 20%; */
  }

  footer {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    background-color: lightslategray;
    color: White;
  }
  
  }